.header{
    background-color: red;
    display: flex;
}

.titulo-header{
    color: white;
}

.container{
    font-size: 20px;
    background-color: aliceblue;
    display: flex;
}

.noticias{
    background-color: lightblue;
}

.titulo-noticias{
    color: black;
}

.noticias p{
    font-size: 15px;
}